<h1>
    Users
</h1>

<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="th-sm">Name
            </th>
            <th class="th-sm">Points
            </th>
        </tr>
    </thead>
    <% for (var i in users) { %>
    <tr>
        <td>
            <a href="/users/<%= users[i].id %>" ><%= users[i].username %></a>
            <%= users[i].isAdmin ? "(admin)" : "" %>
        </td>

        <td><%=users[i].points ? users[i].points : 0%></td>
        <% if (session.user) { %>

            <% if (session.user.isAdmin || session.user.id === users[i].id) { %>
                <td>
                    <a href="/users/<%= users[i].id %>/edit"class="btn btn-primary">edit</a>
                </td>
                
            <%  } %>

            <% if (session.user.isAdmin && session.user.id !== users[i].id) { %>
                <td>
                    <a href="/users/<%= users[i].id %>?_method=DELETE"
                        onClick="return confirm('Delete user: <%= users[i].username %>');"
                        class="btn btn-warning">delete</a>
                </td>
            <% } %>

            

        <% } %>
    </tr>
    <%  } %>
</table>


<% if (session.user) { %>
    <% if (session.user.isAdmin) { %>
        <a href="/users/new" class="button">Create new user</a>
    <%  } %>
<% } %>

