<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    	 <div class="well profile" style=" min-width: 500px;">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h2><%= user.username %></h2>
                    <p><strong>Points: </strong> <%= user.points ? user.points : 0 %> </p>
                    <p><strong>Administrator: </strong><%= user.isAdmin ? "Yes" : "No" %></p>
                    <% if (session.user.isAdmin || session.user.id === user.id) { %>
                        <p><strong>Token: </strong><%= user.token || 'NO TOKEN' %></p>
                    <% } %>
                </div>             
            </div>            
            <div class="col-xs-12 divider text-center" style="display: flex;">
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong> <%=followers.lenght%> </strong></h2>                    
                    <p><strong>Followers:</strong> </p>
                    <% for (let follower of followers){%>
                        <p id="follower_<%=follower.id%>"><%=follower.username%></p>
                    <%}%>
                    <p id="newFollower"></p>
                    <button class="btn btn-success btn-block" id="follow_<%= user.id %>"></button>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">                  
                    <p><strong>Following:</strong></p>
                    <% for (let follower of followed){%>
                        <p id="followed_<%=follower.id%>"><%=follower.username%></p>
                    <%}%>
                    <% if (session.user) { %>
                            <% if (session.user.isAdmin || session.user.id === user.id) { %>
                                <a href="/users/<%= user.id %>/edit"class="btn btn-info btn-block"> <span class="fa fa-user"></span> Edit</a>
                            <% } %>
                    <% } %>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    <% if (session.user) { %>
                    
                            <% if (session.user.isAdmin && session.user.id !== user.id) { %>
                                <a href="/users/<%= user.id %>?_method=DELETE"
                                    onClick="return confirm('Delete user: <%= user.username %>');"
                                    class="btn btn-info btn-block"> <span class="fa fa-user"></span>Delete
                                </a>
                            <% } %>
                    <% } %>

                </div>
            </div>
    	 </div>                 
		</div>
	</div>
</div>




<script>
    (function(){
        
        var state= <%=following%>;
        var userId= <%=session.user.id%>;
        var followedId= <%=user.id%>;
        var followButton= $("#follow_<%=user.id%>");
        if(userId===followedId){
            followButton.attr('disabled',true)
        }
        followButton.text(state ? "Unfollow" : "Follow");
        followButton.on('click',function(){
            var request = new XMLHttpRequest();
            var method = state ? "DELETE" : "PUT" ;
            var url= "/users/"+ followedId + "/followers/" + userId + "?_method=" + method;
            request.open("POST",url);
            request.setRequestHeader("X-Requested-With","XMLHttpRequest");
            request.onreadystatechange= function(){
                if(request.readyState===4 && request.status ===200){
                    state = !state;
                    if(state){

                    }
                    followButton.text(state ? "Unfollow" : "Follow");
                    state ? $("#newFollower").text("<%=session.user.username%>"): ($(`#follower_${userId}`).remove(),$("#newFollower").text(""));
                }
            }
            request.send();
            return false;
        });
    })();
</script>


<a href="/goback" class="button">Go back</a>

