<h1>
    User:
</h1>
<ul>
    <li>
        User name:
        <b><%= user.username %></b>
    </li>
    <li>
        Points:
        <b><%= user.points ? user.points : 0 %></b>
    </li>
    <li>
        Administrator:
        <b><%= user.isAdmin ? "Yes" : "No" %></b>
    </li>

    <% if (session.user.isAdmin || session.user.id === user.id) { %>
        <li>
            Token:
            <b><%= user.token || 'NO TOKEN' %></b>
        </li>
    <% } %>

</ul>

<% if (session.user) { %>
    <p>
        <% if (session.user.isAdmin || session.user.id === user.id) { %>
            <a href="/users/<%= user.id %>/edit"class="button">Edit</a>
        <% } %>

        <% if (session.user.isAdmin && session.user.id !== user.id) { %>
            <a href="/users/<%= user.id %>?_method=DELETE"

                        onClick="return confirm('Delete user: <%= user.username %>');"
                    class="button">Delete

            </a>
        <% } %>
    </p>
<% } %>

<p>Seguidores: </p>
<% for (let follower of followers){%>
    <p id="follower_<%=follower.id%>"><%=follower.username%></p>
<%}%>
<p id="newFollower"></p>

<%if(session.user){%>
    <%if(session.user.id!==user.id){%>
    <td>
        <a id="follow_<%= user.id %>" class="button"></a>
    </td>
    <%}%>
</br>
<script>
    (function(){
        
        var state= <%=following%>;
        var userId= <%=session.user.id%>;
        var followedId= <%=user.id%>;
        var followButton= document.getElementById("follow_<%=user.id%>");
        followButton.text= state ? "Dejar de seguir" : "Seguir";
        followButton.onclick=function(){
            var request = new XMLHttpRequest();
            var method = state ? "DELETE" : "PUT" ;
            var url= "/users/"+ followedId + "/followers/" + userId + "?_method=" + method;
            request.open("POST",url);
            request.setRequestHeader("X-Requested-With","XMLHttpRequest");
            request.onreadystatechange= function(){
                if(request.readyState===4 && request.status ===200){
                    state = !state;
                    if(state){

                    }
                    followButton.text= state ? "Dejar de seguir" : "Seguir";
                    state ? $("#newFollower").text("<%=session.user.username%>"): ($(`#follower_${userId}`).remove(),$("#newFollower").text(""));
                }
            }
            request.send();
            return false;
        };
    })();
</script>

<%}%>

<a href="/goback" class="button">Go back</a>

